<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Project</h1>
        <div class="buttons">
            <a class="button button-clear button-dark icon-right ion-close-circled" ng-click="closeAddProjectModal()"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addProject()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="vm.newProject.name">
                </label>
                <div class="row">
                    <div class="col col-offset-50">
                        <button class="button button-block button-stable icon-left ion-checkmark" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
